<div id="student-list-container" class="container">

  <h1 id="student-list-header" class="header">Students list</h1>

  <ul id="student-list" class="list">
    <% @students.each do |student| %>
    <li class="student-list-item">
      <%= link_to student.name, student_path(student), :class => "student-list-name" %>
      <span class="student-list-email"><%= student.email %></span>
    </li>
    <% end %>
  </ul>

  <!--<div id="student_list_nav">
    <button id="prev" data-dir="prev">Previous</button>
    <button id="next" data-dir="next">Next</button>
  </div>
  -->
  <div id="student-list-new" class="new">
    <%= link_to "Create new student", { :controller => "students", :action => "new" } %>
  </div>
  
  <div id="registration-form" style="display: none">
  </div>

  <div id="student-list-courses" class="back">
    <%= link_to "To courses", courses_path %>
  </div>

</div>

