<div id="student-list-container">

  <h1 id="student-list-header">Students list</h1>

  <ul id="student-list">
    <% @students.each do |student| %>
    <li class="student-list-item">
      <%= link_to student.name, student_path(student), :class => "student-list-name" %>
      <span class="student-list-email"><%= student.email %></span>
    </li>
    <% end %>
  </ul>

  <!--<div id="student_list_nav">
    <button id="prev" data-dir="prev">Previous</button>
    <button id="next" data-dir="next">Next</button>
  </div>
  -->
  <div id="student-list-new">
    <%= link_to "Create new student", { :controller => "students", :action => "new" } %>
  </div>

  <div id="student-list-courses">
    <%= link_to "To courses", courses_path, :class => "back" %>
  </div>

</div>

