<h1>Students list</h1>
<ol class="student_list">
  <% @students.each do |student| %>
  <li><a class="student_name" href="students/<%= student.id %>"><%= student.name %></a><span class="student_email"><%= student.email %></span></li>
  <% end %>
</ol>

<div>
<a href="/students/new" class="back">Create new student</a>
</div>
<a href="/courses" class="back">Go to courses</a>

