.student_list {
  border: 1px solid rgb(56,56,56);
  outline: none;
  width: 20em;
}
.student_list > li {
  outline: none;
}
.student_name {
  padding: 0.5em;
  display: block;
  width: 100%;
}

.student_name:hover {
  background: gray;
}
.student_email {
  display: block;
}

